<div class="row">
    <div class="col s6 devise devise-box-overflow z-depth-4 offset-m3">
        <h2 class="center-align button-space">Sign Up.</h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="container">
            <div class="center-align">
                <%= devise_error_messages! %>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">email</i>
                <%= f.label :email %>
                <%= f.email_field :email %>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">lock_outline</i>
                <%= f.label :password %>
                <% if @minimum_password_length %>
                <% end %>
                <%= f.password_field :password, autocomplete: "off" %>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">repeat</i>
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>
            <div class="center-align" "devise-button">
                <a class="waves-effect waves-light btn button-space button-width button-space-top"><%= f.submit "Sign up" %></a>
            </div>
            <br>
            <div class="center-align" "devise-button">
                <%= render "devise/shared/links" %></a>
                <br>
            </div>
        </div>
        <% end %>
    </div>
</div>
