<% if @item.has_auction? %>
  <% if @item.auction.ended? %>
    <%= render 'partials/status' %>
  <% else %>
    <%= form_for [ @item, @item.auction, Bid.new ], html: { multipart: true } do |f| %>
      <p>
        <% if @item.auction.top_bid %>
          <% if @item.auction.top_bid.user_id == current_user.id %>
            <strong>
              Current Bid:
            </strong>
              AUD$ <%= @item.auction.current_bid %>
          <% else %>
            <strong>
              You were outbid:
            </strong>
              AUD$ <%= @item.auction.current_bid %>
          <% end %>
          <% else %>
            <strong>
              Minimum bid is:
            </strong>
              $ <%= @item.auction.current_bid %>
      <% end %>
      </p>
      <p>
          <!-- <strong>
              Ends at:
          </strong> -->
          <%= l(@item.auction.end_at, format: :short) %>
      </p>

      <div class="bgimg">
      <div class="middle">

        <p id="patch">Auction ends in..</p>
        <p id="demo"></p>
      </div>
      </div>

      <script>


        // Set the date we're counting down to

        var countDownDate = new Date("<%= @item.auction.end_at %>").getTime();
        // Update the count down every 1 second
        var countdownfunction = setInterval(function() {
            // Get todays date and time
            var now = new Date().getTime();
            // Find the distance between now an the count down date
            var distance = countDownDate - now;
            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            // Output the result in an element with id="demo"
            document.getElementById("demo").innerHTML = days + " days " + hours + "h "
            + minutes + "min " + seconds + "s ";
            // If the count down is over, write some text
            if (distance < 0) {
                clearInterval(countdownfunction);
                document.getElementById("demo").innerHTML = "Auction Finished";
            }
        }, 1000);
      </script>

      <%= f.text_field :value, id: "amount_field" %>

      <%= f.button 'Place Bid', :class => "btn" %>

      <% end %>


      <p id="conversion_value"></p>

      <a class='dropdown-button btn' href='#' data-activates='dropdown2'>Convert</a>

        <!-- Dropdown Structure -->
        <ul id='dropdown2' class='dropdown-content'>
          <li><a href="#!" id="convert_btn" onClick="convert('NZD');return false;">$NZD</a></li>
          <li><a href="#!" id="convert_btn" onClick="convert('USD');return false;">$USD</a></li>
          <li><a href="#!" id="convert_btn" onClick="convert('GBP');return false;">$GBP</a></li>
          <li><a href="#!" id="convert_btn" onClick="convert('EUR');return false;">€EUR</a></li>
          <li><a href="#!" id="convert_btn" onClick="convert('CNY');return false;">¥CNY</a></li>
          <li><a href="#!" id="convert_btn" onClick="convert('JPY');return false;">¥JPN</a></li>

        </ul>


    <% end %>
  <% end %>





<script>

    // Load exchange rates data via AJAX:
    $.getJSON(
    	// : using Open Exchange Rates here, but you can use any source!
        'https://openexchangerates.org/api/latest.json?app_id=777f4a4f9781470cb15730ed5f795ef0',
        function(data) {
            // Check money.js has finished loading:
            if ( typeof fx !== "undefined" && fx.rates ) {
                fx.rates = data.rates;
                fx.base = data.base;
            } else {
                // If not, apply to fxSetup global:
                var fxSetup = {
                    rates : data.rates,
                    base : data.base
                }
            }
        }
    );
      //Convert To NZ Dollars
    function convert(currency) {
      // console.log($("#amount_field").val())
      var amount = $("#amount_field").val();
      var conversion = $(fx.convert(amount, {from: "AUD", to: currency}));
      console.log(conversion);
      $('#conversion_value').text(conversion[0]);
    };

      // convert();
</script>
