<% if @item.has_auction? %>
  <% if @item.auction.ended? %>
    <%= render 'partials/status' %>
  <% else %>
    <%= form_for [ @item, @item.auction, Bid.new ], html: { multipart: true } do |f| %>
      <p>
        <% if @item.auction.top_bid %>
          <% if @item.auction.top_bid.user_id == current_user.id %>
            <strong>
              Current Bid:
            </strong>
              AUD$ <%= @item.auction.current_bid %>
          <% else %>
            <strong>
              You were outbid:
            </strong>
              AUD$ <%= @item.auction.current_bid %>
          <% end %>
          <% else %>
            <strong>
              Minimum bid is:
            </strong>
              $ <%= @item.auction.current_bid %>
      <% end %>
      </p>
      <p>
          <!-- <strong>
              Ends at:
          </strong> -->
          <% l(@item.auction.end_at, format: :short) %>
      </p>

      <div class="bgimg">
      <div class="middle">

        <p id="patch">Auction ends in..</p>
        <p id="demo"></p>
      </div>
      </div>
      <script>


        // Set the date we're counting down to

        var countDownDate = new Date("<%= @item.auction.end_at %>").getTime();
        // Update the count down every 1 second
        var countdownfunction = setInterval(function() {
            // Get todays date and time
            var now = new Date().getTime();
            // Find the distance between now an the count down date
            var distance = countDownDate - now;
            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            // Output the result in an element with id="demo"
            document.getElementById("demo").innerHTML = days + " days " + hours + "h "
            + minutes + "min " + seconds + "s ";
            // If the count down is over, write some text
            if (distance < 0) {
                clearInterval(countdownfunction);
                document.getElementById("demo").innerHTML = "EXPIRED";
            }
        }, 1000);
      </script>

      <%= f.text_field :value %>
      <%= f.button 'Place Bid'%>

      <% end %>
    <% end %>
  <% end %>
