<p id="notice"><%= notice %></p>

<div class="container">


<div class="row devise devise-box-overflow z-depth-4 offset-m3 green lighten-5 card-panel hoverable">
  <div class="col s6 ">
    <p class="center-align" id="notice"><%= notice %></p>
    <h2> <%= @item.title %><span style="font-size:40px;"></h2>
    <%= image_tag @item.image.url(:large), :class => "materialboxed" %>
  </div>

  <% if @item.has_auction? %>
  <% end %>

  <div class="col m6">
    <p>
        <strong>Description:</strong>
        <%= @item.description %>
    </p>
    <p>
        <strong>Sport:</strong>
        <%= @item.sport %>
    </p>

    <p>
        <strong>Charity:</strong>
        <%= @item.charity %>
    </p>

    <p>
        <strong>Sponsor:</strong>
        <%= @item.sponsor %>
    </p>
    <%= render 'partials/auction' %>
    <%= render 'partials/bids' %>

    <%= render 'comments/form', comment: @comment %>

    <% @comments.each do |comment| %>
    <p>
        <%= comment.user.email %> at <%= comment.created_at.strftime('%b %d, %Y') %>
    </p>
    <p>
        <%= comment.content %>
    </p>
    <% end %>

  <div class="right">
    <%= link_to 'Edit |', edit_item_path(@item) if current_user.admin?%>
    <%= link_to 'Back', item_path %>
    </div>
  </div>
</div>
</div>
