<p id="notice"><%= notice %></p>

<p>
    <strong>Title:</strong>
    <%= @item.title %>
</p>

<%= image_tag @item.image.url(:medium) %>

<p>
    <strong>Description:</strong>
    <%= @item.description %>
</p>

<p>
    <strong>Sport:</strong>
    <%= @item.sport %>
</p>

<p>
    <strong>Charity:</strong>
    <%= @item.charity %>
</p>

<p>
    <strong>Sponsor:</strong>
    <%= @item.sponsor %>
</p>

<%= render 'partials/auction' %>
<%= render 'partials/bids' %>

<%= render 'comments/form', comment: @comment %>

<% @comments.each do |comment| %>
<p>
    <%= comment.user.email %>
</p>
<p>
    <%= comment.created_at.strftime('%b %d, %Y') %>
</p>
<p>
    <%= comment.content %>
</p>
<% end %>

<%= link_to 'Edit', edit_item_path(@item) %>
|
<%= link_to 'Back', items_path %>
