<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Starting price:</strong>
  <%= @item.starting_price %>
</p>

<p>
  <strong>End time:</strong>
  <%= @item.end_time %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>

<%= render 'comments/form', comment: @comment %>

<% @comments.each do |comment| %>
  <p> <%= comment.user.email %> </p>
  <p> <%= comment.created_at.strftime('%b %d, %Y') %> </p>
  <p> <%= comment.content %> </p>

<% end %>
