<!-- <div class="col-md-6">

  <%# if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <%# elsif flash[:warning] %>
      <div class="alert alert-danger"><%#= flash[:warning] %></div>
    <%# else %>
  <%# end %>

<h1>Got a Question?</h1>

<%#= simple_form_for :contact do |f| %>
    <%#= f.input :email, placeholder: 'type email here' %>
    <%#= f.input :message, placeholder: 'type message here', :as => :text %>
    <%#= f.button :submit, "Send" %>
<%# end %> -->

</div>


<div class="row">
    <div class="col s6 devise devise-box-overflow z-depth-4 offset-m3 green lighten-5">
      <div class="center-align">
      <% if flash[:notice] %>
          <div class="notice"><%= flash[:notice] %></div>
        <% elsif flash[:warning] %>
          <div class="alert alert-danger"><%= flash[:warning] %></div>
        <% else %>
      <% end %>
      </div>
        <h2 class="center-align button-space">Get in Touch.</h2>
        <%= simple_form_for :contact do |f| %>
        <div class="container">
            <div class="center-align">
            </div>
            <div class="input-field">
                <i class="material-icons prefix">email</i>
                <%= f.label :email %>
                <%= f.input_field :email %>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">message</i>
                <%= f.label :message %>
                <%= f.input_field :message %>
            </div>
            <div class="center-align" "devise-button">
                <a class="waves-effect waves-light btn button-space button-width button-space-top green lighten-1"><%= f.submit "Send" %></a>
            </div>
            <br>
        </div>
        <% end %>
    </div>
</div>
